body{
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}
.mat-mdc-card{
    background-color: transparent !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
